body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #222;
    color: white;
}
h1 {
    color: #9c09db;
}
#add-game-btn, #clear-games-btn {
    position: absolute;
    top: 10px;
    padding: 10px;
    background-color: #f1c40f;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
#add-game-btn {
    right: 10px;
}
#clear-games-btn {
    right: 130px;
}
#game-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.game {
    margin: 10px;
    padding: 10px;
    background: #333;
    border-radius: 8px;
    text-align: center;
    position: relative;
}
.game img {
    width: 150px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
}
.delete-game {
    position: absolute;
    top: 5px;
    right: 5px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
#game-form {
    margin-top: 20px;
}
.hidden {
    display: none;
}
